.text {
    width:50%;
    border:2px solid rgb(170, 170, 170);
    border-radius:10px;
    margin:0 auto;
    outline:none;
    padding:20px;
    box-sizing:border-box;
    transition:.9s;
    text-align: center;
    font-size: 24px;
  }

  .submitButton {
    border:2px solid rgb(170, 170, 170);
    background-size: 100%;
    padding-top: 2px;
    border-radius:10px;
    margin:0 auto;
    padding:6px;
    box-sizing:border-box;
    text-align: center;
    font-size: 38px; 
  }

  .spacerP {
    padding: 4px;
  }

  .wordwide {
    border:2px solid rgb(170, 170, 170);
    width: 80%;
    padding-bottom: 0px;
    border-radius:20px;

  }

  .mainDiv {
    margin: 0 auto;
    padding: 140px;
    /* display: block; */
    text-align: center;
    width:800px;
    height:2000px;
    background:rgb(240, 240, 240); 
    border-radius: 10px 10px 10px 10px;
    overflow:hidden;
    border:2px solid rgb(210, 210, 210);

  }

  .ptag {
    font-size: 60px;
  }

  .phonetic {
    font-size: 36px;
  }
